version: "3.9"

services:

  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: rohith1234
      POSTGRES_DB: products_db
    ports:
      - "5431:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    command: ["redis-server", "--port", "6375"]
    ports:
      - "6375:6375"

  api:
    build: .
    container_name: fastapi
    restart: always
    env_file: .env
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"
    volumes:
      - uploads:/tmp/uploads

  worker:
    build: .
    container_name: celery_worker
    restart: always
    env_file: .env
    command: celery -A app.tasks worker --loglevel=INFO
    depends_on:
      - postgres
      - redis
    volumes:
      - uploads:/tmp/uploads

volumes:
  pgdata:
  uploads:
